### For Batting Table

In [13]:
import pandas as pd

In [14]:
file_path = 'C:/Users/Manoj/Downloads/final_csv/BattingSummaryFinal.csv'  #import the priviously cleaned file
df = pd.read_csv(file_path)

In [15]:
df.head()

,Batsman,BattingID,DismissedBy,Runs,Balls,Minutes,Fours,Sixes,StrikeRate,Innings,MatchID,Fielder,Bowler,Status
0,Matthew Wade,162.0,lbw b Thakur,80,53,-,7,2,150.94,First Innings,1116,NaN,Thakur,lbw
1,Aaron Finch,85.0,c Pandya b Washington Sundar,0,2,-,0,0,0,First Innings,1116,Pandya,Washington Sundar,caught
2,Steve Smith,NaN,b Washington Sundar,24,23,-,1,0,104.34,First Innings,1116,NaN,Sundar,b
3,Glenn Maxwell,126.0,b Natarajan,54,36,-,3,3,150,First Innings,1116,NaN,Natarajan,b
4,Moises Henriques,101.0,not out,5,2,-,1,0,250,First Innings,1116,NaN,NaN,not out

In [16]:
# Adding Inning_num column
df['Inning_num'] = df['Innings'].apply(lambda x: 1 if x == 'First Innings' else 2)

# Adding batting position column
df['Batting_pos'] = df.groupby(['MatchID', 'Inning_num']).cumcount() + 1

# Creating primary key
df['id'] = df['MatchID'].astype(str) + df['Inning_num'].astype(str) +  df['Batting_pos'].astype(str)

In [17]:
df.head(25)

,Batsman,BattingID,DismissedBy,Runs,Balls,Minutes,Fours,Sixes,StrikeRate,Innings,MatchID,Fielder,Bowler,Status,Inning_num,Batting_pos,id
0,Matthew Wade,162.0,lbw b Thakur,80,53,-,7,2,150.94,First Innings,1116,NaN,Thakur,lbw,1,1,111611
1,Aaron Finch,85.0,c Pandya b Washington Sundar,0,2,-,0,0,0,First Innings,1116,Pandya,Washington Sundar,caught,1,2,111612
2,Steve Smith,NaN,b Washington Sundar,24,23,-,1,0,104.34,First Innings,1116,NaN,Sundar,b,1,3,111613
3,Glenn Maxwell,126.0,b Natarajan,54,36,-,3,3,150,First Innings,1116,NaN,Natarajan,b,1,4,111614
4,Moises Henriques,101.0,not out,5,2,-,1,0,250,First Innings,1116,NaN,NaN,not out,1,5,111615
5,D'Arcy Short,149.0,run out (sub [MK Pandey]/†Rahul),7,3,-,1,0,233.33,First Innings,1116,NaN,Pandey]/†Rahul),run,1,6,111616
6,Daniel Sams,147.0,not out,4,2,-,1,0,200,First Innings,1116,NaN,NaN,not out,1,7,111617
7,KL Rahul,431.0,c Smith b Maxwell,0,2,-,0,0,0,Second Innings,1116,Smith,Maxwell,caught,2,1,111621
8,Shikhar Dhawan,377.0,c Sams b Swepson,28,21,-,3,0,133.33,Second Innings,1116,Sams,Swepson,caught,2,2,111622
9,Virat Kohli,399.0,c Sams b Tye,85,61,-,4,3,139.34,Second Innings,1116,Sams,Tye,caught,2,3,111623
10,Sanju Samson,439.0,c Smith b Swepson,10,9,-,0,0,111.11,Second Innings,1116,Smith,Swepson,caught,2,4,111624
11,Shreyas Iyer,387.0,lbw b Swepson,0,1,-,0,0,0,Second Innings,1116,NaN,Swepson,lbw,2,5,111625
12,Hardik Pandya,418.0,c Finch b Zampa,20,13,-,1,2,153.84,Second Innings,1116,Finch,Zampa,caught,2,6,111626
13,Washington Sundar,470.0,c Tye b Abbott,7,6,-,1,0,116.66,Second Innings,1116,Tye,Abbott,caught,2,7,111627
14,Shardul Thakur,459.0,not out,17,7,-,0,2,242.85,Second Innings,1116,NaN,NaN,not out,2,8,111628
15,Deepak Chahar,373.0,not out,0,0,-,0,0,-,Second Innings,1116,NaN,NaN,not out,2,9,111629
16,Matthew Wade,162.0,run out (Kohli/†Rahul),58,32,-,10,1,181.25,First Innings,1115,NaN,(Kohli/†Rahul),run,1,1,111511
17,D'Arcy Short,149.0,c Iyer b Natarajan,9,9,-,1,0,100,First Innings,1115,Iyer,Natarajan,caught,1,2,111512
18,Steve Smith,NaN,c Pandya b Chahal,46,38,-,3,2,121.05,First Innings,1115,Pandya,Chahal,caught,1,3,111513
19,Glenn Maxwell,126.0,c Washington Sundar b Thakur,22,13,-,0,2,169.23,First Innings,1115,Washington Sundar,Thakur,caught,1,4,111514
20,Moises Henriques,101.0,c †Rahul b Natarajan,26,18,-,0,1,144.44,First Innings,1115,†Rahul,Natarajan,caught,1,5,111515
21,Marcus Stoinis,155.0,not out,16,7,-,0,1,228.57,First Innings,1115,NaN,NaN,not out,1,6,111516
22,Daniel Sams,147.0,not out,8,3,-,1,0,266.66,First Innings,1115,NaN,NaN,not out,1,7,111517
23,KL Rahul,431.0,c Swepson b Tye,30,22,-,2,1,136.36,Second Innings,1115,Swepson,Tye,caught,2,1,111521
24,Shikhar Dhawan,377.0,c Swepson b Zampa,52,36,-,4,2,144.44,Second Innings,1115,Swepson,Zampa,caught,2,2,111522

### For Bowler Table

In [29]:
bowler_path = 'C:/Users/Manoj/Downloads/final_csv/BowlingSummary.csv'  # import priviously cleaned bowler table
df2 = pd.read_csv(bowler_path)

In [30]:
df2.head()

,Bowler,BowlingID,Overs,Maidens,Runs_Conceded,Wickets,Economy_Rate,Dot_Balls,Fours_Conceded,Sixes_Conceded,Wides,No_Balls,Innings_Bowled,Match_ID
0,Deepak Chahar,373.0,4.0,0,34,0,8.50,8,4,0,1,0,First Innings,1116
1,Washington Sundar,470.0,4.0,0,34,2,8.50,9,4,0,1,0,First Innings,1116
2,T Natarajan,NaN,4.0,0,33,1,8.25,8,3,0,2,0,First Innings,1116
3,Yuzvendra Chahal,372.0,4.0,0,41,0,10.25,3,1,2,2,1,First Innings,1116
4,Shardul Thakur,459.0,4.0,0,43,1,10.75,6,2,3,0,0,First Innings,1116

In [31]:
# Adding Inning_num column
df2['Inning_num'] = df2['Innings_Bowled'].apply(lambda x: 1 if x == 'First Innings' else 2)

# Adding bowling position column
df2['Bowling_pos'] = df2.groupby(['Match_ID', 'Inning_num']).cumcount() + 1

# Creating primary key
df2['id'] = df2['Match_ID'].astype(str) + df2['Inning_num'].astype(str) + df2['Bowling_pos'].astype(str)

In [32]:
df2.head()

,Bowler,BowlingID,Overs,Maidens,Runs_Conceded,Wickets,Economy_Rate,Dot_Balls,Fours_Conceded,Sixes_Conceded,Wides,No_Balls,Innings_Bowled,Match_ID,Inning_num,Bowling_pos,id
0,Deepak Chahar,373.0,4.0,0,34,0,8.50,8,4,0,1,0,First Innings,1116,1,1,111611
1,Washington Sundar,470.0,4.0,0,34,2,8.50,9,4,0,1,0,First Innings,1116,1,2,111612
2,T Natarajan,NaN,4.0,0,33,1,8.25,8,3,0,2,0,First Innings,1116,1,3,111613
3,Yuzvendra Chahal,372.0,4.0,0,41,0,10.25,3,1,2,2,1,First Innings,1116,1,4,111614
4,Shardul Thakur,459.0,4.0,0,43,1,10.75,6,2,3,0,0,First Innings,1116,1,5,111615

In [33]:
# If you want to save the updated DataFrame back to a CSV file
df2.to_csv('updated_bowler_file.csv', index=False)

In [28]:
df.to_csv('updated_batting_file.csv', index=False)